/*style*/
body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    
}
.parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
  }
#header{
    display: flex;
    background-color: #373331;
    justify-content: space-between;
    flex-basis: 100%;
    
}

.logo{
    padding-left: 3rem;
    padding-top: 1rem;
    cursor: pointer;
    
}
.logo-text > p{
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    line-height: 4.4rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: bold;
    cursor: pointer;
}
.nav{
    flex: 3;
}
.nav > ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
    padding-right: 3rem;
    letter-spacing: .08rem;
    line-height: 2.5rem;
}
.nav > ul >li{
    padding: 1rem;
}
a{
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Sarala', sans-serif;
}


.nav > ul > li:hover {
     
    background-color: #b73535;
    transition: 0.8s;
}

.cards {
    margin-top: 10rem;
    margin-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

  }
  .card {
    flex: 0 0 200px;
    margin: 15px;
    border: 1px solid #ccc;
    box-shadow: 1.5px 1.5px 4px 0px  rgba(0,0,0,0.3);
    border-radius: .25rem;
  } 
  .card img {
    max-width: 100%;
  }
  .texts h3{
    font-family: 'Sarala', sans-serif; 
    color: #1d2323;
    text-align: center;
    font-size: 1.2rem;
    margin:0 3px;
    margin-top: 1rem;
}
  .texts p{
    font-family: 'Sarala', sans-serif; 
    color: #1d2323;
    font-size: .9rem;
    line-height: 1.4rem;
    text-align: center;
    margin: 1rem 0;
    margin-top: .5rem;
}
  .card .texts { 
    padding: 0 20px 20px;
  }
  .card .texts > button {
    background: #373331;
    font-family: 'Sarala', sans-serif; 
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: .25rem;
    }
    .card .texts > button:hover {
        background: #b73535;
        transition: .7s;
        
        } 
        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
          }
          
          .Site-content {
            flex: 1;
          }

#footer{
    display: flex;
    flex-direction: column;
    background:  #373331;
    color: #fff;
    font-family: sans-serif;
    
    
   
        }
        
        .icons{
            display: flex;
            justify-content: center;
            font-size: 2rem;
            cursor: pointer;
            padding:0;

        }
        .icons > ul{
            padding:0;
            padding-top: 1rem;
            display: flex;
            word-spacing: .2rem;
            margin: 0;
        }
        .icons > ul >li{
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: .4rem;
        }
        .copy{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            letter-spacing:.1rem;
            cursor: pointer;

        }
        .copy > ul{
            padding:1rem 0 0 0;
            display: flex;
            word-spacing: .2rem;
            margin-top: 0;

        }
        .copy > ul >li{
            display: flex;
            font-size: .8rem;
        }
        @media screen and (max-width: 1366px){
            .cards{
                justify-content: space-around;
                flex-wrap: wrap;
                margin-top: 10rem;
             }
             .card{
                 flex-basis: 16rem;
                 
             }
        }
        @media screen and (min-width: 1024px){
            .cards{
                justify-content: center;

                
            }
            .card{
                margin: 2rem;
            }

        }

                @media screen and (max-width: 850px){
                    .parent{
                        position: static;
                    }
                    #header{
                    flex-direction: column;
                    
                    }
                    .nav > ul{
                        flex-direction: column;
                        align-items: center;
                        padding: 0;
                        
                    }
                    .nav > ul > li{
                        align-items: center;
                        padding: .7rem 26rem;
                    }
                   
                
                   
                    .logo{
                        text-align: center;
                        padding:0;
                        padding-top: 1rem;
                    }
                    .logo-text > p{
                      
                        text-align: center;
                    }
                    .cards{
                        justify-content: space-around;
                        margin: 3.7rem;
                     }
                   .card{
                       margin-bottom:4rem;

                }
            }
            @media screen and (max-width: 500px){
                .cards{
                    margin-bottom: 1rem;
                }
            }

                   
                   
        
